{% load compress analytical %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html itemscope itemtype="http://schema.org/CreativeWork" class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- Google Authorship and Publisher Markup --> 
  <link rel="author" href="{% block author %}{% endblock %}"/>
  {# <link rel="publisher" href=” https://plus.google.com/[Google+_Page_Profile]"/> #}
  
  <!-- Schema.org markup for Google+ --> 
  <meta itemprop="name" content="{% block schema_name %}{% endblock %}"> 
  <meta itemprop="description" content="{% block schema_description %}{% endblock %}"> 
  <meta itemprop="author" content="{% block schema_author %}{% endblock %}"> 
  <meta itemprop="provider" content="Poemhub"> 
  
  <!-- Open Graph data --> 
  <meta property="og:title" content="{% block og_title %}{% endblock %}" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="http://www.poemhub.org/{% block og_url %}{% endblock %}" />
  {# <meta property="og:image" content=" http://example.com/image.jpg" /> #}
  <meta property="og:description" content="{% block og_description %}{% endblock %}" /> 
  <meta property="og:site_name" content="Poemhub" /> 
  <meta property="article:published_time" content="{% block og_publish_time %}{% endblock %}" /> 
  <meta property="article:modified_time" content="{% block og_update_time %}{% endblock %}" /> 
  {# <meta property="article:section" content="Poetry" />  #}
  <meta property="article:tag" content="Poetry" /> 

  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% analytical_head_top %}

  {% block css %}
  {% compress css %}
  <link rel="stylesheet" href="{{STATIC_URL}}base/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}base/css/animate.css">
  <link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css"> 
  <link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
  <link rel="stylesheet" href="{{STATIC_URL}}main_site/css/sticky_footer.css">
  {% endcompress %}
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,500,700,900|Cardo:400,700,400italic|Raleway:400,700|Muli' rel='stylesheet' type='text/css'>
  <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
  <![endif]-->
  {% endblock %}
  <link rel="shortcut icon" href="{{STATIC_URL}}main_site/img/favicon.png">
  <link rel="apple-touch-icon" href="{{STATIC_URL}}main_site/img/apple-touch-icon.png">
    


  <script src="{{STATIC_URL}}base/js/libs/modernizr-2.0.6.min.js"></script>
  {% analytical_head_bottom %}
</head>

<body>
  {% analytical_body_top %}
  {% block full_body %}
<div id="wrap">
    <div id="container">
        <nav id="nav" class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="{% url "main_site:home" %}" class="logo"><img src="{% block logo_url %}{{STATIC_URL}}main_site/img/logo-name-90.png{% endblock %}" alt="Poemhub"/></a>
              <button type="button" class="navbar-toggle mobile_toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url "poems:explore" %}">Explore</a></li>
                <li><a href="{% url "poems:my_writing" %}">My Writing</a></li>
                <li><a href="{% url "poems:my_reading" %}">My Reading</a></li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.get_profile.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu" >
                    <li><a href="{% url "poems:my_account" %}">Account</a></li>
                    <li><a href="{% url "poems:my_backups" %}">Backups</a></li>
                    <li><a id="Intercom" href="mailto:54156ce0511ce28204deb410e8c6d52cd03264ba@incoming.intercom.io">Help</a></li>
                    {# <li class="divider"></li> #}
                    <li><a href="{% url "account_logout" %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <a id="Intercom" href="mailto:54156ce0511ce28204deb410e8c6d52cd03264ba@incoming.intercom.io">Help</a>
                <a href="{% url "account_signup" %}">Signup</a>
                <a href="{% url "account_login" %}">Login</a>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div id="main" role="main">
            {% block main_content %}
            <div class="page_content">
        	{% block content %}

        	{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
</div>
<div id="footer" class="footer">
    <a href="{% url "main_site:home" %}">Poemhub </a> &ndash;
    {# <a href="{% url "main_site:about" %}">About</a> #}
    <a href="{% url "main_site:terms" %}">Terms</a>
    <a href="{% url "main_site:faq" %}">FAQ</a>
</div>
  {% endblock %}

  {% block js %}
    {% compress js %}
    <script>var STATIC_URL = "{{STATIC_URL}}";</script>
    <script src="{{STATIC_URL}}base/js/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}base/js/bootstrap.min.js"></script>
    {% endcompress %}
  {% endblock %}

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  {% analytical_body_bottom %}
</body>
</html>
