body {
    background: #AAA;
    overflow-x: hidden;
}
#main {
    padding: 0;
}
.author {
    display: block;
    margin: 60px 0 0 0;
    text-align: center;
    color: #BBB;
    font-weight: 300;
}
.author a {
    color: #AAA;
}
.poem {
    display: block;
    position: relative;
    width: 64em;
    background: #FFF;
    padding: 40px 80px 20px 80px;
    margin: 0 auto;
    /*top: 80px;*/

    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-color: rgba(255,255,255,0.97);
    border-right-color: rgba(255,255,255,0.97);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.poem .title, .poem .body, .nicEdit-main, .editable {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    outline: none;
    outline-style: none;
    outline-width: 0;
}
.poem .title { 
    margin: 20px 0;
    font-weight: 400;
    font-family: 'Special Elite', serif;
}
.poem .body {
    font-weight: 400;
    font-size: 16px;
}
.poem .draft_badge, .poem.draft.editing .draft_badge {
    display: none;
}
.poem.draft .draft_badge {
    z-index: 200;
    display: block;
    position: absolute;
    top: -1px;
    right: -2px;
    width: 200px;
    height: 200px;
    background: url("../../poems/img/draft-badge.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.timeline {
    text-align: center;
    margin: 80px 0;
    color: #DDD;
    font-weight: 200;
}
.timeline a {
    color: #DDD;
    text-decoration: underline;
}
.kudos {
    margin-top: 60px;
    text-align: center;
}

.kudos .fantastic_button.clicked {
    background-color: #777;
    color: #EEE;
    border-color: #777;
}
.kudos .fantastic_button .clicked_star {
    display: none;
}
.kudos .fantastic_button.clicked .clicked_star {
    display: inline;
}
.kudos .fantastic_button.clicked .unclicked_star {
    display: none;
}

.edit_bar {
    /*position: absolute;*/
    width: 64em;
    margin: 0 auto;
    text-align: right;
    margin-top: 16px;
    height: 80px;
}
.edit_bar .edit_button {
    display: inline-block;
}
.edit_bar .currently_editing_button {
    display: none;
}
.edit_bar.editing .currently_editing_button {
    display: inline-block;
}
.edit_bar.editing .edit_button {
    display: none;
}
.edit_bar .revisions_button {
    /*float: left;*/
}

.poet .poems .draft {
    background-color: red;
    display: inline-block;
    border-radius: 2px;
}

.revision_badge {
    position: absolute;
    text-align: center;
    top: 0;
    padding: 5px 0;
    border: 2px solid #999;
    border-radius: 4px;
    width: 32%;
    margin: 20px 0 0 34%;
    color: #CCC;
    background-color: #9F9F9F;
}
.poem_form {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: left 0.25s linear;
    -moz-transition: left 0.25s linear;
    -ms-transition: left 0.25s linear;
    -o-transition: left 0.25s linear;
    transition: left 0.25s linear;
}
.poem_meta {
    position: absolute;
    top: 120px;
    right: -400px;
    display: none;
}
.options_toggle {
    display: none;
    position: absolute;
    top: 100px;
    right: 50px;
    height: 30px;
    padding: 0 20px;
}
.options_toggle a {
    display: block;
    font-size: 50px;
    line-height: 0;
    color: #999;
    text-decoration: none;   
}
.poem_form.editing .options_toggle {
    display: block;
}
.poem_form.editing .poem_meta {
    display: block;
}

.poem_form.show_options {
    left: -600px;
}
.revised_text {
    display: inline-block;
    margin-left: 20px;
}