* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
/*
Headers:;
font-family: 'Special Elite', cursive;
font-family: 'IM Fell English SC', serif;

Body
font-family: 'Average', serif;
font-family: 'Amethysta', serif;
font-family: 'Jacques Francois', serif;

Buttons:
font-family: 'Open Sans', serif;
font-family: 'PT Sans Caption', serif;
*/

html {
    font-family: 'Average', sans-serif;
    /*background: url("../../main_site/img/wood-background-1.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    height: 100%;
    overflow: hidden;
}
body {
    background: none;
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
p {
    font-size: 16px;
}

#nav {
    height: 40px;
    width: 100%;
    background-color: #454545;
}
#nav a {
    display: inline-block;
    color: #888;
    /*width: 100px;*/
    padding: 10px 25px;
    height: 20px;
    text-decoration: none;
}
#nav a:hover {
    color: #EEE;
}
#nav .account_links {
    float: right;
}
#main {
    top: 0;
    position: relative;
}
.page_content {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.button, .button:hover, a.button, a.button:hover {
    border: 1px solid #999;
    color: #DDD;
    background-color: #B2B2B2;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 20px;
}
.button:hover, a.button:hover {
    background-color: #999;
}

.home_buttons {
    text-align: center;
    margin: 0 0 60px 0;
}
.home_buttons a {
    margin: 0 20px;
    /*background-color: #ff580e;*/
    /*background-color: #4369ff;*/
    background-color: #4f66ff;
    color: #d1daff;
    border: 0;
}
.home_buttons a:hover, .home_buttons a.current {
    background-color: #3a53ff;
    color: #FFF;
    border: 0;

}
.home h1 {
    text-align: center;
    margin: 60px 0 80px 0;
}
h1 {
    margin: 40px 0 30px 0;
}
.home .detail_section {
    width: 640px;
    margin: 0 auto;
    display: none;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}
.footer a {
    display: inline-block;
    margin: 0 10px;
}
.bubble {
    background-color: #DDD;
    display: inline-block;
    border-radius: 4px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 6px;
    font-weight: 300;

}