* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
/*
Headers:;
font-family: 'Special Elite', cursive;
font-family: 'IM Fell English SC', serif;

Body
font-family: 'Average', serif;
font-family: 'Amethysta', serif;
font-family: 'Jacques Francois', serif;

Buttons:
font-family: 'Open Sans', serif;
font-family: 'PT Sans Caption', serif;
*/

html {
    font-family: 'Average', sans-serif;
    /*background: url("../../main_site/img/wood-background-1.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    height: 100%;
    overflow: hidden;
}
body {
    background: none;
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', serif;
}

#nav {
    height: 40px;
    width: 100%;
    background-color: #454545;
}
#nav a {
    display: inline-block;
    color: #888;
    /*width: 100px;*/
    padding: 10px 25px;
    height: 20px;
    text-decoration: none;
}
#nav a:hover {
    color: #EEE;
}
#nav .account_links {
    float: right;
}
#main {
    top: 0;
    position: relative;
}
.page_content {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}