{% extends "base.html" %}{% load compress humanize %}

{% block title %}Poemhub: Explore{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content explore">
    {# <h1>There are {{num_poems|intcomma}} poems on poemhub.  Dig in.</h1> #}
    
    <div class="row">
        <div class="col-sm-6 col_section">
            <h1>Recently read</h1>
            <ul>
            {% for r in recent_reads %} 
                <li><a href="{% url "poems:poem" r.poem.author.slug r.poem.slug %}">{{r.poem.title|safe}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6 col_section">
            <h1>Recently published</h1>
            <ul>
            {% for poem in recent_published %}
                <li><a href="{% url "poems:poem" poem.author.slug poem.slug %}">{{poem.title|safe}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col_section">
            <h1>Classics</h1>
            <ul>
            {% for poem in top_classics %}
                <li><a href="{% url "poems:poem" poem.author.slug poem.slug %}">{{poem.title|safe}}</a> {# <span class="author">by {{poem.author.name}}</span> #}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6 col_section">
            <h1>Great Poets</h1>
            <ul>
            {% for poet in great_poets %}
                <li><a href="{% url "poems:poet" poet.slug %}">{{poet.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col_section">
            <h1>Active poets</h1>
            <ul>
            {% for poet in active_poets %}
                <li><a href="{% url "poems:poet" poet.slug %}">{{poet.name}}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-sm-6 col_section">
            <h1>Most popular poems</h1>
            <ul>
            {% for poem in most_favorited %}
                <li><a href="{% url "poems:poem" poem.author.slug poem.slug %}">{{poem.title|safe}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <!-- 
    Recently Read:
    - top 10, update every 60s

    Recently active poets:
    - top 5

    Recently published:
    - top 10

    

    Classics:
    - top 5 by favorited

    -->
</div>
{% endblock %}