{% extends "base.html" %}{% load compress %}

{% block title %}Poemhub: Explore{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content">
    <h1>Explore</h1>

    <p>Explore's coming real soon. </p>

    <p>In the meantime, have you checked out <a href="{% url "main_site:faq" %}">the FAQ</a>?</p>

    <!-- 
    Recently Read:
    - top 10, update every 60s

    Recently active poets:
    - top 5

    Recently published:
    - top 10

    Most popular:
    - top 5 by favorited

    -->
</div>
{% endblock %}