{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}poems/css/poems.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
<script src="{{STATIC_URL}}poems/js/nicEdit.js"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
{% endcompress %}
{% endblock %}


{% block content %}
{% if is_mine %}
    <div class="edit_bar">
        {% if poem.is_draft %}
        <a href="#" class="button currently_editing_button save_draft_button"><i class="icon-edit" ></i> Save Draft</a>
        <a href="#" class="button currently_editing_button"><i class="icon-edit" ></i> Publish</a>
        {% else %}
        <a href="#" class="button currently_editing_button"><i class="icon-edit" ></i> Publish New Version</a>
        {% endif %}
        <a href="#" class="button toggle_editing_button currently_editing_button cancel_button"><i class="icon-edit" ></i> Cancel</a>
        <a href="#" class="button toggle_editing_button edit_button"><i class="icon-edit" ></i> Edit</a>
    </div>
{% endif %}
<div class="poem {% if poem.is_draft %}draft{% endif %}">
    <div class="draft_badge"></div>
    <h1 class="title"><div class="editable" id="poem_title">{{poem.title}}</div></h1>

    <div class="body"><div class="editable" id="poem_body">{{poem.body|safe}}</div></div>
    <div class="author">by <a href="{% url "poems:poet" poem.author.slug %}">{{poem.author.name}}</a></div>
</div>

{% if not poem.is_draft and not is_mine %}
<div class="kudos">
    <a href="#" class="fantastic_button button"><span class="unclicked_star">☆</span><span class="clicked_star">★</span> This was fantastic.</a>
</div>
{% endif %}


<div class="timeline">
    <div class="published">
        {% if poem.is_draft %}Draft.{% else %}Published {{poem.published_at|date}},{% endif %}
        {% if poem.revisions_visible %}
            {% if poem.has_been_revised %}Last <a href="{% url "poems:revisions" poem.author.slug poem.slug %}">revised</a> {{poem.most_recent_revision.revised_at|date}}{% endif %}
        {% endif %}
    </div>
    <div class="copyright">Copyright <a href="{% url "poems:poet" poem.author.slug %}">{{poem.author.name}}</a>, all rights reserved.</div>
</div>
{% endblock %}