{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}poems/css/poems.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}base/js/ajaxForm.js"></script>
<script src="{{STATIC_URL}}poems/js/nicEdit.js"></script>
<script type="text/javascript">
    window.Poemr = window.Poemr || {};
</script>
<script src="{{STATIC_URL}}poems/js/poem.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<form action="{% url "poems:save_revision" poet=poem.author.slug title=poem.slug %}" class="poem_form" method="POST">

{% if is_mine %}
<div class="edit_bar">
    <a href="{% url "poems:revisions" poem.author.slug poem.slug %}" class="button revisions_button" target="_blank"><i class="icon-revisions" ></i> Revisions</a>
    {% if poem.is_draft %}
    <button type="submit" href="#" class="button currently_editing_button save_revision_button"><i class="icon-edit" ></i> Save Draft</button>
    <a href="#" class="button currently_editing_button publish_button"><i class="icon-edit" ></i> Publish</a>
    {% else %}
    <button type="submit" href="#" class="button currently_editing_button save_revision_button"><i class="icon-edit" ></i> Publish New Version</button>
    {% endif %}
    <button type="revert" href="#" class="button currently_editing_button cancel_editing_button"><i class="icon-edit" ></i> Cancel</button>
    <a href="#" class="button start_editing_button edit_button"><i class="icon-edit" ></i> Edit</a>
</div>
{% endif %}


<div class="poem {% if poem.is_draft %}draft{% endif %}">
    <div id="edit_pane_area"><div id="edit_pane"></div></div>
    <div class="draft_badge"></div>
    <h1 class="title"><div class="editable" id="poem_title">{{poem.title|safe}}</div></h1>

    <div class="body"><div class="editable" id="poem_body">{{poem.body|safe}}</div></div>
    <div class="author">by <a href="{% url "poems:poet" poem.author.slug %}">{{poem.author.name}}</a></div>
</div>

{% if is_mine %}
<div class="options_toggle">
    <a href="#" class="options_button">⚙</a>
</div>
<div class="poem_meta">
    <table>
    {{form.as_table}}
    </table>
    {% csrf_token %}
</div>
{% endif %}
</form>
{% if not poem.is_draft and not is_mine %}
<div class="kudos">
    <a href="#" class="fantastic_button button"><span class="unclicked_star">☆</span><span class="clicked_star">★</span> This was fantastic.</a>
</div>
{% endif %}


<div class="timeline">
    <div class="published">
        {% if poem.is_draft %}Draft.{% else %}Written on {{poem.written_on|date}}.{% endif %}
        {% if poem.revisions_visible or is_mine %}
            <span class="revised_text">{% if poem.has_been_revised %}<a href="{% url "poems:revisions" poem.author.slug poem.slug %}">Last revised</a> {{poem.most_recent_revision.revised_at|date}}{% endif %}
            </span>
        {% endif %}
    </div>
    <div class="copyright">Copyright <a href="{% url "poems:poet" poem.author.slug %}">{{poem.author.name}}</a>, all rights reserved.</div>
</div>
{% endblock %}