{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}poems/css/poet.css">
{% endcompress %}
{% endblock %}


{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content poet">
    <a href="{% url "poems:new" %}" class="new_draft_button button">Start a new draft</a>
    <h1>{{poet.name}}{% if is_me %} <span class="is_me bubble">me!</span>{% endif %}</h1>
    <h2>Collections</h2>
    <div class="work_group">
        <p class="none_yet">No collections yet.</p>
    </div>
    <h2>All Poems</h2>
    <div class="work_group">
        <ul>
        {% for poem in poems %}
            {% ifchanged poem.date.year %}
            </ul>
            <h3>{{poem.date.year}}</h3>
            <ul class="poems">    
            {% endifchanged %}
        <li><a href="{% url "poems:poem" poet.slug poem.slug %}">{{poem.title|safe}}</a> {% if poem.is_draft %}<span class="draft bubble">DRAFT</span> {% endif %}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}