{% extends "base.html" %}{% load compress %}

{% block title %}{{poet.name}}'{% if not poet.name_ends_in_s %}s{% endif %} Poetry{% endblock %}

{% block description %}Poetry written by {{poet.name}}. Published on Poemhub.{% endblock %}
{% block author %}{% url "poems:poet" poet.slug %}{% endblock %}
{% block schema_name %}{{poet.name}}'{% if not poet.name_ends_in_s %}s{% endif %} Poetry{% endblock %}
{% block schema_description %}Poetry written by {{poet.name}}. Published on Poemhub.{% endblock %}
{% block schema_author %}{{poet.name}}{% endblock %}
{% block og_title %}{{poet.name}}'{% if not poet.name_ends_in_s %}s{% endif %} Poetry{% endblock %}
{% block og_url %}{% url "poems:poet" poet.slug %}{% endblock %}
{% block og_description %}Poetry written by {{poet.name}}. Published on Poemhub.{% endblock %}
{% block og_publish_time %}{{poet.created_at|date:"c"}}{% endblock %}
{% block og_update_time %}{{poet.most_recent_update|date:"c"}}{% endblock %}


{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}poems/css/poet.css">
{% endcompress %}
{% endblock %}


{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content poet">
    {% if is_me %}<a href="{% url "poems:new" %}" class="new_draft_button button">Start a new draft</a>{% endif %}
    <h1>{{poet.name}}{% if is_me %} <span class="is_me bubble">me!</span>{% endif %}</h1>
    {% if poet.public_domain %}
    <p>{{poet.name}} is a poet {% if poet.birthdate and poet.deathdate %}who lived from {{ poet.birthdate|date:"Y" }} to {{ poet.deathdate|date:"Y"}}{% endif %} whose writing is in the public domain.  {% if poet.wikipedia_url %}You can learn more about their life on <a href="{{poet.wikipedia_url}}" target="_blank">Wikipedia</a>.{% endif %}</p>
    {% endif %}
    {% if poet.has_collections %}
    <h2>Collections</h2>
    <div class="work_group">
        <p class="none_yet">No collections yet.</p>
    </div>
    {% endif %}
    <h2>All Poems</h2>
    <div class="work_group">
        <ul>
        {% for poem in poems %}
            {% ifchanged poem.written_on.year %}
            </ul>
            <h3>{% if poem.written_on %}{{poem.written_on.year}}{% else %}Unknown year {% endif %}</h3>
            <ul class="poems">    
            {% endifchanged %}
        <li class="poem"><a href="{% url "poems:poem" poet.slug poem.slug %}">{{poem.title|safe}}</a> {% if poem.is_draft %}<span class="draft bubble">DRAFT</span>{% else %}{% if poem.num_fantastics > 0 %}<div class="fantastics">★ {{poem.num_fantastics}}{% endif %}{% endif %}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}