{% extends "base.html" %}{% load compress %}

{% block title %}Revisions of {{poem.title}} - by {{poem.author.name}} on Poemhub{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content">
    <h2>Revisions for <a href="{% url "poems:poem" poem.author.slug poem.slug %}">{{poem.title|safe}}</a></h2>
    <ul>
        <li>
            <a href="{% url "poems:poem" poem.author.slug poem.slug %}">Current Version</a>
        </li>
        {% for revision in revisions %}
        <li>
            <a href="{% url "poems:revision" revision.author.slug revision.pk %}">{{revision.revised_at }} - {{revision.title|safe}} </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}