{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="home page_content">
    <h1>Poemhub is the best place to read and write poetry.</h1>

    <div class="home_sections hero_section">
            <div class="hero_text">for readers</div>
            <h2>Great writing, beautifully presented.</h2>
            
            {# <div class="screenshot"><img src="{{STATIC_URL}}main_site/img/home/beautifully.png"/></div> #}
            <p>Poemhub presents new and classic writing in a simple, elegant format. The words matter, and there's nothing on Poemhub to separate you from them.</p>

            <h2>Know what you read.  Know what you loved.</h2>
            {# <div class="screenshot"><img src="{{STATIC_URL}}main_site/img/home/recently-read.png"/></div> #}
            <p>Poemhub automatically keeps track of the poems you spent time with, and the ones you marked as <i>fantastic</i>.  The result is you can always look back, and be reminded of poems you love.</p>

            <h2>Connect with authors.</h2>
            <p>Have you ever wanted to say to an author <i>oh dear god this poem just exploded my everything</i>?  Now you can &ndash; and the author will actually hear it.</p>

            <h2>Find something new.</h2>
            <p>Explore Poemhub, and find work from fresh artists, and timeless classics you haven't seen yet. See what other users are reading, and always find something new.</p>

            <p><a href="{% url "account_signup" %}?next={% url "poems:explore" %}" class="button btn btn-primary">Start Reading</a></p>

    </div>
    <div class="home_sections hero_section write">
        <div class="hero_text">for writers</div>
            <h2>Your words.  A global audience.</h2>
            <p>If you're like us, you write poetry to connect with people.  To get the ideas and visions and emotions and world out of your head and interacting with another human, somewhere.  We built Poemhub to directly connect poems and readers. The poets published here agree &ndash; it works.

            <h2>The best revision tool for poetry.</h2>
            <p>Poemhub was built by poets.  We built it to be the best place to keep all our drafts &ndash; to let us work, and stay out of our way.  Poemhub saves all your revisions, and lets you look back. It has a simple, uncluttered interface that is <i>exactly</i> the way your poem will look published.  And, Poemhub lets you keep publishing revisions, even after you've published your poem.</p>

            
            <h2>Safe. You keep the rights. Download everything, anytime.</h2>
            
            <p>As poets, the last thing we wanted was a service that kept work hostage.  Poemhub doesn't keep your copyrights or have silly where-else-was-this-published limitations.  They're your words.  Take them wherever you'd like. We also provide a one-click backup to download everything you have on Poemhub - published poems, drafts, even the list of things you've read and liked.</p>

            <h2>Connect with your readers.</h2>
            
            <p>We create direct, novel interactions between you and your readers, <i>on your terms</i>.  When you publish on Poemhub, you can finally know how many people have <i>actually read</i> each of your poems, and which are the most beloved.  We also give you the option to connect with your readers in ways traditional journals can't - by having discussions and comments right with your poems.</p>

            <p>To top it off, Poemhub is free to use.</p>

            <p><a href="{% url "account_signup" %}" class="button btn btn-primary">Get Started</a></p>
        </div>
    </div>
</div>
{% endblock %}