{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="home page_content">
    <h1>Poemhub is the place to read and write poetry.</h1>

    <div class="home_buttons">
        <a href="#" class="button readers">For Readers</a>
        <a href="#" class="button writers">For Writers</a>
        <a href="{% url "main_site:manifesto" %}" class="button">The Manifesto</a>
    </div>
    <div class="details">
        <div class="detail_section for_readers">
            <p>We aim to be the best place for you to find and read poetry.  From new work from the most current poets to a steady stream of the classics, we present each poem to stand on its own, and for you to enjoy.</p>
            <p>Poemhub also gives you a direct line to many authors, to give those <i>this poem changed my life</i> comments you've always wanted to give.</p>

            <p>Readers can also (soon!) subscribe to have a selection of poems delivered to their inbox once a week.</p>

            <p>Thanks for using Poemhub. We're happy poetry is back in your hands.</p>
        </div>
        <div class="detail_section for_writers">
            <p>We're pretty sure you don't write poetry so you can sit and send submissions to journals, hoping you don't get a ding letter back. You write poetry to connect with people.  To get the ideas and visions and emotions and world out of your head and interacting with another human, somewhere.  Us too.  So we cut out the middle-man.</p>

            <p>Poemhub aims to be the best place to revise, edit, publish, and share your poetry.  We don't keep your copyrights or have silly publication limitations.  They're your words.  Take them wherever you'd like.</p>

            <p>We also connect you to your readers in way traditional journals never have, telling you how many people have <i>actually read</i> your work, and allowing you to engage with readers, on your terms.</p>

            <p>Poemhub is about giving poetry back to the two groups who should have had it all along: poets, and readers.</p>
        </div>
</div>
{% endblock %}