{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="home_page">
    <h1>poetr.com is a home for poetry.</h1>

<div class="bubble main">
    
</div>
</div>
{% endblock %}