{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<div class="page_content">
    <h1>Terms of Use</h1>

    <h2>The Gist:</h2>

    <p>We need the right to publish your work on Poemhub, so we can display it to readers using their desktop computers and mobile devices.  We also reserve some rights to handle abuse, plagarism, and stuff like that.  We're committed to maintaining your rights to do whatever you want with your work.</p>

    <h2>The Actual Terms of Service:</h2>
    
    <p>By using the poemhub.org web site, you are agreeing to be bound by the following terms and conditions ("Terms of Service").</p>

    <h3>Basic Terms</h3>
    <ul>
        <li>You are responsible for any activity that occurs under your screen name.</li>
        <li>You are responsible for keeping your password secure.</li>
        <li>You may not use the poemhub for any illegal or unauthorized purpose. You agree to comply with all local laws regarding online conduct and acceptable content applicable to where they are.</li>
        <li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, links, content that you submit, post, and display on the poemhub website.</li>
        <li>You must not modify, adapt or hack poemhub.org or modify another website so as to falsely imply that it is associated with poemhub.org.</li>
        <li>You must not, in the use of Poemhub, violate any laws in your jurisdiction (including but not limited to copyright laws.)</li>
        <li>Violation of any of these agreements will result in the termination of your poemhub account. While poemhub.org prohibits such conduct and content on its site, you understand and agree that Poemhub cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the poemhub.org service at your own risk.
        </li>
    </ul>

    <h3>Rights to your work</h3>
    <p>Poemhub has a limited right to your work, for the following purposes:</p>
    <ul>
        <li>Poemhub may display your published poems to any visitors, via web browser, mobile device, email, or newfangled device we didn't know about yet.</li>
        <li>Poemhub may display all your work (published and unpublished) to you when you're logged in, so you can view and edit.</li>
        <li>Poemhub may display your published name in association with the work you publish on poemhub.</li>
        <li>Poemhub maintains limited rights to your work, even if you cancel your account, to continue operating the Poemhub service without errors. (For example, but not limited to, if Poemhub sends out an email featuring your work, and the work is subsequentely deleted.)
    </ul>

    <h3>General Conditions</h3>
    <ul>
        <li>We reserve the right to modify or terminate the poemhub.org service for any reason, without notice at any time.</li>
        <li>We reserve the right to alter these Terms of Service at any time. If the alterations constitute a material change to the Terms of Service, we will notify you via email. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.</li>
        <li>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.
        </li>
        <li>We reserve the right to reclaim publication names on behalf of indivduals or businesses that hold legal claim or trademark on those publication names.</li>
    </ul>

    </div>
</div>
{% endblock %}