{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    {% blocktrans %}<p>Thanks. We've sent you an e-mail with instructions to reset your password.</p><p>If you don't see it in a minute or so, please check your spam folder.  If it's not there, get in touch using the help link up top, and we'll get you squared away!{% endblocktrans %}</p>
{% endblock %}